<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Redefinir Senha</title>
  <link rel="stylesheet" href="../css/reset.css" />
</head>

<body>
  <div class="container">
    <div class="login-box">
      <h3 class="reset-title">Redefinir senha</h3>
      <p class="reset-subtitle">
        Digite seu e-mail para receber um link de redefinição.
      </p>

      <input type="email" id="email-reset" placeholder="Email" required />
      <button id="send-reset" class="login-btn">Enviar link</button>

      <p id="message-reset" role="status" aria-live="polite"></p>

      <hr />
      <a href="./index.html" class="back-link">⬅ Voltar para login</a>
    </div>
  </div>
  <script type="module" src="../js/reset.js"></script>
</body>

</html>